body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('./images/loginback.jpg') center center/cover no-repeat;
    display:flex;
    align-items:center;
    justify-content:center;
}

.login-container {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 15px;
}

button {
    cursor: pointer;
}
